span{
    color: red;
}
.wrapper {
    height: 300px;
    width: 300px;
    position: relative;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 100%;
    /* background: url; 
    background-size: 100% 100%; */
    margin: 100px auto;
    overflow: hidden;
} 

.my_file {
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 21px 120px;
    cursor: pointer;
    transition: 0.05s;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
}
img {
    object-fit: cover;
    position: absolute;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.my_file::-webkit-file-upload-button {
    visibility: hidden;
}

.my_file::before {
    content: '\f030';
    font-family: fontAwesome;
    font-size: 50px;
    color: #fff;
    display: inline-block;
    -webkit-user-select: none;
}

.my_file::after {
    content: 'Update';
    font-family: 'arial';
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: block;
    top: 70px;
    font-size: 14px;
    position: absolute;

}

.my_file:hover {
    opacity: 1;
}
